<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU"
  crossorigin="anonymous">
<script>
(function($) {
    "use strict";

    var $navbar = $("#navbar"),
        y_pos = $navbar.offset().top,
        height = $navbar.height();

    $(document).scroll(function() {
        var scrollTop = $(this).scrollTop();

        if (scrollTop > y_pos + height) {
            $navbar.addClass("navbar-fixed").animate({
                top: 0
            });
        } else if (scrollTop <= y_pos) {
            $navbar.removeClass("navbar-fixed").clearQueue().animate({
                top: "-48px"
            }, 0);
        }
    });

})(jQuery, undefined);
</script>
<nav class="navbar">
        {%if request.user.is_authenticated %}
    <section class="logo-section"><a href="/instagram/"><img class="logo" src="https://seeklogo.com/images/I/instagram-new-2016-glyph-logo-84CB825424-seeklogo.com.png"/></a> 
    <div></div><a href="/instagram/"><img class="logoname" src="https://upload.wikimedia.org/wikipedia/commons/thumb/2/2a/Instagram_logo.svg/2000px-Instagram_logo.svg.png"/></a> 
  </section>
  <form action="{% url 'search_results' %}"  class="search-section">
    <input class="input-search" type="search" name="searchItem" placeholder="search user....."/>
  </form>
  <section class="icons-section">
    <a class="fa fa-heart" href="#"></a>
    <a class="fa fa-user" href="/instagram/prof/{{user.username}}"></a>
    <a href="/instagram/signout/">Log out</a>
</section>
{% endif %}

</nav>